<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2> <%= @message.title %> </h2>
      <p class="message-show"> <%= time_ago_in_words(@message.created_at) %> </p>
      <p class="message-desc"> <%= @message.description %> </p>
    </div>
  </div>
    <%= link_to "Back", messages_path, class:"btn btn-default" %>
    <%= link_to "Edit", edit_message_path, class:"btn btn-primary" %>
    <%= link_to "Delete", message_path(@message), method: :delete, data: {confirm: "Are you sure"}, class:"btn btn-danger"  %>
</div>
